{% load staticfiles %}
{% load humanize %}
<!DOCTYPE html>

<html class="wide wow-animation" lang="en">
  <head>
    <title>Place bids on products for only KES 20 with quickbid.co.ke </title>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="{% static "js/JNM.js" %}"></script><link rel="icon" href="{% static "images/Quickbid-Clear.svg" %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static "dist/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "dist/css/fonts.css" %}">
    <link rel="stylesheet" href="{% static "dist/css/style.css" %}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@9.15.2/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.15.2/dist/sweetalert2.all.min.js"></script>
   
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>

    <style>
      body {
    font-family: Roboto, Ubuntu, Arial, sans-serif;
    font-size: 100%;
}
    </style>

<style>
  .orange{
    color:#F29100
  }
  .blue{
    color: #002698;
  }
  .blacker{
    color: #6b7280;
  }

</style>
  </head>
  <body>
    
    <div class="preloader"><div class="ie-panel"><a href="https://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
    </div>
    <div class="page">
      <header class="section page-header">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="0px" data-xl-stick-up-offset="0px" data-xxl-stick-up-offset="0px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!--RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!--RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!--RD Navbar Brand-->
                  <div class="rd-navbar-brand">
                    <!--Brand--><a class="brand" href="/"><img src="{% static "images/Quickbid-Clear.svg" %}" alt="" width="329" height="57"/></a>
                  </div>
                </div>
                <div class="rd-navbar-main-element align-content-lg-center" style="margin-right: 40%;">
                  <div class="rd-navbar-nav-wrap">
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="/">Home</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="#">How to bid</a>
                      </li>
                      
                      </li>
                      
                      
                      <li class="rd-nav-item"><a class="rd-nav-link" href="#">T&Cs</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>

      

       <!-- How it Works-->
       <section class="section section-lg bg-white">
        <div class="container">
          <h1 class="text-center" style="color: #002698;font-weight: bold;">Bid Low, <span style="color:#F29100;font-weight: bolder;">Win Big!</span></h1>
          <div style="margin-top: 2%;">
            <h5 class="text-center orange">Choose an Item you want to bid on.</h5>
            <p class="text-lg-center blacker" style="margin-top: 2%;font-weight: bold;">
              Deposit KES 20 via MPESA number 4032353 and specify your low
              unique bid on the product on offer. EG if a TV is on offer and<br>
              your bid amount is 43, Enter TV 43.
            </p>

            <p class="text-center orange" style="margin-top: 2%;">
              Once the Auction closes and you have the lowest unique bid,
              You buy the TV at 43 Shillings.
            </p>

           
            
        
          
        </div>
      </section>

       <!-- Current Auctions-->
       <section class="section section-lg bg-gray-100" id="current_auction" style="padding-top: 10px;">
        <div class="container">
        
          <div class="row">
            
            {% for bid in bids %}
        
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6" >
             
              <!-- Post Modern-->
              <div class="bg-white" style="width: 100%;border-bottom: 5px solid #d2d6dc">
              <div class="" style="padding: 30px 20px 30px 20px;">
              <div class="" style="margin-bottom: 3%;">
                <h4 class="">{{bid.product.name}}</h4>
                <strong class="post-modern-link text-bolder orange">RRP: KES {{bid.product.price|intcomma}}</strong>
                <div class="">{{bid.product.description}}</div>
              </div>
              <div class="">
                
                <figure class="">
                  
                  <img src="{{bid.product.image.url}}" alt="" width="300" height="auto"/>
                </figure>
                

                  <!--Play via mpesa-->
                  
                  <div style="border-top: 1px solid #d2d6dc; border-bottom: 1px solid #d2d6dc;margin-top:4%;padding:3px;">
                    <h5>Bid via Mpesa</h5>
                    <p class="" style="color: #161e2e;">
                      
                      Send just KES <strong>20</strong> to PB <strong>4032353</strong> with <strong>{{bid.code}}</strong> and your bid amount as the account name.
                     
                    </p>
                    <p class="" style="color:#FF5733;"> Example: <strong>{{bid.code}} 120</strong> to bid KES 120</p>
                  

                 

                  <!--Play via mpesa-->
                  
                  <p style="color: #161e2e;">Or you can <strong class="text-black">Play Online</strong></p>
                  
                  <p class="" style="color: #161e2e;">Input your phone number and Bid amount below and check your Phone to complete.</p><br>

                 

                  <input type="hidden" id="id_bid_code" value="{{bid.code}}">
                  <input type="text" class="form-group form-control" placeholder="Your phone Number" id="id_phone_number">
                  <input type="number" class="form-group form-control" placeholder="Bid Amount e.g 43" id="id_bid_value">
                  <p id="id_bid_success" style="display: none; color: #155724;"></p>
                  <a  id="id_bid" class="button button-icon button-icon-right form-group form-control" style="background-color: #002698;border-color:#002698;color: white;" href="#bid"><span class="icon novi-icon"></span>Place your Bid</a>
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
          
            {% endfor %}
          </div>
          
        </div>
      </section>

      <!-- Finished Auctions-->
     <!--Finished Auctions -->

     

      <!-- Finished Auctions-->
      <section class="section section-lg bg-gray-100 section-top-shadow" style="padding-top: 20px;min-height: 400px;">
        <div class="container">
          <h2 class="text-center" style="color: #002698;font-weight: bold;">Finished<span style="color:#F29100;font-weight: bolder;"> Auctions</span></h2>
          
            
           <p class="text-lg-center blacker">Be the first one to go home with amazing products on Auction for only <strong>KES 20!</strong></p>
          
      </section>


    

      <footer class="footer novi-bg novi-bg-img">
        
        
        <div class="footer-panel">
          <div class="container">
            <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>Quick Bid Auctions.</span><span>.&nbsp;</span><a href="#">All rights reserved. Auctioneers licence no. 2020/0010/5951</a> <span style="float: right;margin-right: 5%;"><a href="https://www.facebook.com/?view_public_for=110900567287396"><i class="fa fa-facebook"></i></a></span> <span style="float: right; margin-right: 5%; margin-left: 2%;"><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></span> <span style="float: right; margin-right: 3%; margin-left: 2%;"><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></span></p>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="{% static "dist/js/core.min.js" %}"></script>
    <script src="{% static "dist/js/script.js" %}"></script>
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
	
	<!--LIVEDEMO_00 -->

	<script type="text/javascript">
	 var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-7078796-5']);
	  _gaq.push(['_trackPageview']);
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();</script>
		
  </body><!-- Google Tag Manager --><noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P9FT69"height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-P9FT69');</script><!-- End Google Tag Manager -->



<script>
    $('#id_bid').click(function() {

        var phone_number = $("#id_phone_number").val();
        var bid_value = $("#id_bid_value").val();
        var bid_code = $("#id_bid_code").val();
        
        if (!$.isNumeric(phone_number))
        {
            $("#id_bid_success").hide();
            $("#id_bid_error").html("* Invalid Phone Number. Please Enter a number");
            $("#id_bid_error").show();
        }

      else {

          // make POST ajax call
            $.ajax({
                type: 'POST',
                url: "/ipn/checkout/",
                data: {"phone_number":phone_number,"bid_value":bid_value,"bid_code":bid_code},
                success: function (data) {
                          Swal.fire({
                          icon:'success',
                          confirmButtonColor: '#002698',
                          text: 'CHECK YOUR PHONE AND ENTER PIN TO COMPLETE',
                          padding: '3em',
                          height:100,
                          width:400,
                          // html: `
                          // <pre><code>CHECK YOUR PHONE AND ENTER PIN TO COMPLETE</code></pre>
                          //     <pre><code>PHONE NUMBER:${data.phone_number}</code></pre>
                          //     <pre><code>PRODUCT BID ON:${data.product}</code></pre>
                          //     <pre><code>Bid Value:${data.bid_value}</code></pre>
                          // `,
                          confirmButtonText: 'Close',
                        
                    
            })
            }
          })
      }
  })

      
</script>
  
</html>
