{% extends "products/base.html" %}
{% load staticfiles %}
{% load humanize %}
  {%block content %}
    
        <div class="header">
            <div class="container">
                <h1 style="color: #002698;">Completed <span>Auctions</span></h1>
            </div>
        </div>
        <div class="auctions container content">
            <ul class="list">
                {% for winner in winners %}
                    <li class="row">
                        <div class="thumbnail"> <img src="{{winner.bid.product.image.url}}" alt="" srcset=""></div>
                        <div class="description">
                            <div class="title">
                                <h3>{{winner.bid.product.name}}</h3><span class="description">{{winner.bid.product.description}}</span>
                            </div>
                            <table>
                                <tr>
                                    <td>Bidder</td>
                                    <td>{{winner.user.get_shortname}}</td>
                                </tr>
                                <tr>
                                    <td>RRP</td>
                                    <td class="orange">KES {{winner.bid.product.price|intcomma}}</td>
                                </tr>
                                <tr>
                                    <td>Winning Bid</td>
                                    <td class="orange">KES {{winner.winning_value|intcomma}}</td>
                                </tr>
                                <tr>
                                    <td>End Time</td>
                                    <td class="orange">{{winner.created_at|date:'N j, Y, G:i'}}</td>
                                </tr>
                            </table>
                        </div>
                    </li>
                    {% endfor %}
                    
                
            </ul>
        </div>
    
        <div class="footer_lb">
            <div class="container">
                <div class="row">
                    <h3>You can be a winner too.<span>Win Big!</span></h3><a class="primary_btn" href="/">Start
                    Bidding</a>
                </div>
            </div>
        </div>
 {% endblock %}
 
