{% load staticfiles %}
{% load humanize %}
<!DOCTYPE html>

<html class="wide wow-animation" lang="en">
  <head>
    <title>FAQ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="{% static "js/JNM.js" %}"></script><link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,700,800,900%7CMontserrat:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="{% static "dist/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "dist/css/fonts.css" %}">
    <link rel="stylesheet" href="{% static "dist/css/style.css" %}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
   
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <!-- <div class="ie-panel"><a href="https://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div> -->
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
    </div>
    <div class="page">
      <header class="section page-header">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            <div class="rd-navbar-aside-outer rd-navbar-collapse bg-gray-900">
              
            </div>
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!--RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!--RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!--RD Navbar Brand-->
                  <div class="rd-navbar-brand">
                    <!--Brand--><a class="brand" href="index.html"><img src="{% static "images/logo-1.png" %}" alt="" width="329" height="57"/></a>
                  </div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/">Home</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="#current_auction">Bid</a>
                      </li>
                      
                      </li>
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="/faq">FAQ</a>
                      </li>
                      
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/terms">T&Cs</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      
      <!-- FAq-->
      <section class="section novi-bg novi-bg-img section-lg">
        <div class="container">
            <h2 class="text-center text-sm-left">Frequently asked <span class="h2-style">Questions</span></h2>
          <div class="row row-50">
            <div class="col-lg-6">
                
              <div class="row row-30">
                <div class="col-12">
                  <!-- Box Moder-->
                  <div class="box-modern">
                    <div class="box-modern-header">
                      
                      <h5 class="box-modern-title" style="width: 240px">What is SOKO MIA™?</h5>
                    </div>
                    <p class="box-modern-body">SOKO MIA™ is an authentic and legitimate bidding auction platform In Kenya,  we offer within the auction reduced prices on high-end products and services. Any bidder gets an opportunity to enjoy unique sell offs. The auction offers the best prices around that can be purchased by placing strategic, unique bid among a pool of other bids placed by other bidders.
                    SOKO MIA™ is safe, secure and totally reliable. A means to convert rare opportunities into high end and unbelievable rewards and purchases which could include electronics, perfumes, home appliances, luxury cars, expensive holidays to five-star hotels, dream bikes bought at giveaway prices.
                    </p>
                  </div>
                </div>
                <div class="col-12">

                <!-- Box Moder-->
                <div class="box-modern">
                    <div class="box-modern-header">
                      
                      <h5 class="box-modern-title" style="width: 240px"> How do I register with SOKO MIA™?</h5>
                    </div>
                    <p class="box-modern-body">Registration is very easy. Go to mpesa paybill, 825444, pay 20ksh with your bid as the account number. 
                    </p>
                  </div>
                </div>
                <div class="col-12">
                  <!-- Box Moder-->
                  <div class="box-modern">
                    <div class="box-modern-header">
                      
                      <h5 class="box-modern-title" style="width: 400px">How old do I have to be to join SOKO MIA™?</h5>
                    </div>
                    <p class="box-modern-body">As required by the law, you must be legally an adult (18 years) to join SOKO MIA™</p>
                  </div>
                </div>


                <div class="col-12">
                    <!-- Box Moder-->
                    <div class="box-modern">
                      <div class="box-modern-header">
                        
                        <h5 class="box-modern-title" style="width: 400px">How to know my bid status?</h5>
                      </div>
                      <p class="box-modern-body">After placing a bid for the specific auction, SOKO MIA™ will send and sms of the current lowest bid and status of your bid, however, you can sms “STATUS” to know your bid and the current lowest bid.</p>
                    </div>
                  </div>


                  <div class="col-12">
                    <!-- Box Moder-->
                    <div class="box-modern">
                      <div class="box-modern-header">
                        
                        <h5 class="box-modern-title" style="width: 400px">What is announcement option?</h5>
                      </div>
                      <p class="box-modern-body">Sms will be the communication channel to all customers.</p>
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-lg-6">
              
                <div class="col-12">
                  <div class="box-modern">
                    <div class="box-modern-header">
                     
                      <h5 class="box-modern-title" style="width: 400px">How much does it cost to place a bid on SOKO MIA™?</h5>
                    </div>
                    <p class="box-modern-body">The cost of placing one bid is 20ksh.</p>
                  </div>

                  
                </div>
                <div class="col-12">
                  <div class="box-modern">
                    <div class="box-modern-header">
                      
                      <h5 class="box-modern-title" style="width: 400px">What is a bid?</h5>
                    </div>
                    <p class="box-modern-body">A bid is any number you wish to put in to purchase the product, the bid is however supposed to be the lowest and unique to be able to purchase the product at the said price.
                        Note: The bid has to be positive and more than 1, it could be any number with upto 2 decimal places. </p>
                  </div>
                </div>

                <div class="col-12">
                    <div class="box-modern">
                      <div class="box-modern-header">
                       
                        <h5 class="box-modern-title" style="width: 400px">Can I use my Credit/Debit card to buy bids?</h5>
                      </div>
                      <p class="box-modern-body">No, we are currently only accepting bids on mpesa. </p>
                    </div>
  
                    
                  </div>

                  <div class="col-12">
                    <div class="box-modern">
                      <div class="box-modern-header">
                       
                        <h5 class="box-modern-title" style="width: 400px">Are my details safe with SOKO MIA™?</h5>
                      </div>
                      <p class="box-modern-body">Yes, they are. We have a very strict about the privacy of our players. We will never share your information to any third party. You can read our privacy policy to understand how we keep your data secure. </p>
                    </div>
  
                    
                  </div>

                  <div class="col-12">
                    <div class="box-modern">
                      <div class="box-modern-header">
                        
                        <h5 class="box-modern-title" style="width: 400px">Does SOKO MIA deliver the new products?</h5>
                      </div>
                      <p class="box-modern-body">Yes SOKO MIA delivers free of charge nationwide. </p>
                    </div>
                  </div>


                  <div class="col-12">
                    <div class="box-modern">
                      <div class="box-modern-header">
                        
                        <h5 class="box-modern-title" style="width: 400px">What is return policy?</h5>
                      </div>
                      <p class="box-modern-body">You can check products before receiving. If getting any issue then make call or email same time to SOKO MIA customer support and return product to delivery officer. </p>
                    </div>
                  </div>


                  <div class="col-12">
                    <div class="box-modern">
                      <div class="box-modern-header">
                        
                        <h5 class="box-modern-title" style="width: 400px">Can I Place more than one bids?</h5>
                      </div>
                      <p class="box-modern-body">YES! AS MANY AS YOU WANT. </p>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="box-modern">
                      <div class="box-modern-header">
                        
                        <h5 class="box-modern-title" style="width: 400px">What if my bid is the wining number?</h5>
                      </div>
                      <p class="box-modern-body">You will be contacted immediately via through sms/phone and email.
                        In case of any difficulty, you may write to us at XXXXX </p>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <footer class="footer novi-bg novi-bg-img">
        
        <div class="footer-panel">
          <div class="container">
            <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>SokoMia Auctions.</span><span>.&nbsp;</span><a href="#">All rights reserved. Auctioneers licence no. 005867</a> <span style="float: right;margin-right: 5%;"><a href="https://www.facebook.com/Soko-Mia-110900567287396/?view_public_for=110900567287396"><i class="fa fa-facebook"></i></a></span> <span style="float: right; margin-right: 5%; margin-left: 2%;"><a href="https://www.instagram.com/sokomiakenya/"><i class="fa fa-instagram"></i></a></span> <span style="float: right; margin-right: 3%; margin-left: 2%;"><a href="https://twitter.com/soko_mia"><i class="fa fa-twitter"></i></a></span></p>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="{% static "dist/js/core.min.js" %}"></script>
    <script src="{% static "dist/js/script.js" %}"></script>
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
	
	<!--LIVEDEMO_00 -->

	<script type="text/javascript">
	 var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-7078796-5']);
	  _gaq.push(['_trackPageview']);
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();</script>
		
  </body><!-- Google Tag Manager --><noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P9FT69"height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-P9FT69');</script><!-- End Google Tag Manager -->


</html>
