<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.5a7230a9.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,400;1,700&amp;display=swap" rel="stylesheet">
    <title>FAQs | QuickBid</title>
</head>

<body>
    <div id="mobile-menu"></div>
    <div>
        <header>
            <div class="container">
                <nav>
                    <div class="nav-wrapper">
                        <a class="brand-logo" href="/index.html"><img class="logo" src="/images/quickbid-logo-white.5273c563.svg"></a><a class="menu_icon" href="#mobile-menu"><i class="fa fa-bars" aria-hidden="true"></i></a>
                        <ul class="hide-on-med-and-down right" id="nav-mobile">
                            <li><a href="/index.html">Home</a></li>
                            <li><a href="/faqs.html">FAQs</a></li>
                            <li><a href="/terms.html">Terms &amp; Conditions</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <div class="header">
            <div class="container">
                <h1>Frequently asked <span>Questions</span></h1>
            </div>
        </div>
        <div class="container content">
            <ul class="faqs">
                <li>
                    <h3>What is Quick bid?</h3>
                    <div>QuickBid is a reverse bidding product that gives users the opportunity to place online bids on products at KES 20. In reverse bidding, the lowest and unique bidder is considered the winner of the giveaway. The auction is conducted
                        using Web, SMS/Mobile and USSD options.</div>
                </li>
                <li>
                    <h3>What is being auctioned?</h3>
                    <div>
                        <ul>
                            <li>Electronics i.e. TVs, Home Theatres and more</li>
                            <li>Gadgets i.e. Mobile phones, Tablets, Headphones, PlayStation and more</li>
                            <li>Motorbikes</li>
                            <li>Generators</li>
                            <li>Cars and much more</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <h3>How do I place a bid?</h3>
                    <div>To place a bid simply send Ksh 20 to Mpesa Paybill number 4032353 with your mobile phone. Then place your bid details in the account number slot i.e WM 120 for washing machine and a bid of Ksh 120 or PH 220 for phone and a bid of Ksh
                        220. You have the opportunity to place multiple bids of different amounts on the same product and the number of current bids at each amount is kept secret.</div>
                </li>
                <li>
                    <h3>What happens after I place a bid?</h3>
                    <div>You will receive updates from us on whether your bid is unique and the lowest. You may be advised if your bid is unique but not the lowest. If a new your bid is the lowest and unique, and another bidder places the same bid as you,
                        then you will be advised that your bid is no longer unique, giving you the opportunity to place a new lower unique bid. If you win, i.e at the conclusion of the auction, you will receive a confirmation and payment instructions.
                        You’ll pay your bid amount and receive free shipping of your item(s).</div>
                </li>
                <li>
                    <h3>How long does the auction run?</h3>
                    <div>All Items on auction run within specific auction periods which are clearly specified on our website eg Phone – 24 Hours, Fridge – 5 days , Car – 60 Days. The winning bidder and bid amount is announced at the end of every auction and
                        a log published on our website.</div>
                </li>
                <li>
                    <h3>What happens after I place a winning bid?</h3>
                    <div>When you place a winning bid, you will be given 24 hours to pay the winning purchase price of the item that you placed a winning bid on. EG. If your lowest unique bid was 43 for a Mobile Phone, you are expected to PAY KES 43 to a provided
                        paybill number via a provided Paybill Number within 24 hours. Failure to make payment, the item will be nullified and put back on auction.</div>
                </li>
                <li>
                    <h3>How do I receive my item when I win?</h3>
                    <div>QuickBid offers free shipping on all products nationwide. A tracking number and shipping details will be provided once shipping is done. Winning bidders receive their items within 5-7 working days depending on the location of the bidder.</div>
                </li>
            </ul>
        </div>
        <div class="footer_lb">
            <div class="container">
                <div class="row">
                    <h3>You can be a winner too.<span>Win Big!</span></h3><a class="primary_btn" href="#">Start Bidding</a></div>
            </div>
        </div>
        <footer>
            <div class="container">
                <p>QUICKBID IS A PRODUCT OF RHEMAT AUCTIONEERS - LICENSE NUMBER 005951.</p>
                <p>&copy;2021 Quick Bid Auctions. All rights Reserved. <br>Call us on +254753146246<br> Find us on social media</p>
                <ul class="social">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </footer>
    </div>
</body>
<script src="/js/base.aed608e9.js"></script>

</html>