{% extends "products/base.html" %}
{% load staticfiles %}
{% load humanize %}
  {%block content %}
        <div class="header">
            <div class="container">
                <h1>Terms &amp; <span>Conditions</span></h1>
            </div>
        </div>
        <div class="container content">
            <h3>DEFINITIONS OF TERMS</h3>
            <h4>1. AUCTION</h4>
            <p>The lowest unique bid format used by QuickBid in order to determine the winning bid.</p>
            <h4>2. BID</h4>
            <p>An amount in Kenya Shillings that a Bidder has entered or intends to enter into the Auction for a
                specific Item.</p>
            <h4>3. BID ENTRY FEE</h4>
            <p>The amount in Kenya Shillings (Ksh) sent via Mpesa in order to place a Bid.</p>
            <h4>4. BIDDER</h4>
            <p>The User of the service that has placed or intends to place a Bid.</p>
            <h4>5. ITEM</h4>
            <p>The product(s) or other worthy inventory that is the focus of a specific Auction.</p>
            <h4>6. NON-UNIQUE BID</h4>
            <p>A Bid that has been placed on a specific Auction by a Bidder where at least one other Bidder has also
                placed an identical Bid on the same Auction.</p>
            <h4>7. RRP (Recommended Retail Price)</h4>
            <p>The manufacturer’s recommended retail price for a specific Item within Our Auctions.</p>
            <h4>8. UNIQUE BID</h4>
            <p>A Bid that has been placed on a specific Auction by a Bidder where no other Bidder has placed an
                identical Bid on the same Auction.</p>
            <h3>ELIGIBILITY TO PARTICIPATE WITH QUICKBID</h3>
            <p>By using Our Website you confirm that:</p>
            <ol>
                <li>You are legally capable of entering into binding legal contracts;</li>
                <li>You are at least 18 years old. You may be required to provide proof of Your age at such time as You
                    Win an Auction on Our Website or at any other time as we deem necessary;</li>
                <li>You are able to make payments to Us using your Mpesa Account;</li>
                <li>You are a resident of the Republic of Kenya;</li>
                <li>You are accessing Our Website from within the Republic of Kenya;</li>
            </ol>
            <p> You are participating as an individual only and not as part of a commercial or reseller organization</p>
            <p> Only one User Account is permitted per person and per telephone number. At the time of a User Winning an
                Auction, or at any other time that We deem necessary, We may contact the User by the registered
                telephone number affiliated to the mobile money account. We will only dispatch the Item(s) that have
                been Won as and when We are satisfied that the registered telephone number belongs to the registered
                User. We may ask that the User confirms certain Account details over the telephone in order to confirm
                this.</p>
            <p>We reserve the right to terminate any User at Our sole discretion. In general, We will only take these
                actions if, in Our reasonable opinion, a User has:</p>
            <ol>
                <li>violated any laws or the rights of third parties;</li>
                <li>failed to honor payments due to Us;</li>
                <li>used false or misleading information during registration or amendment of their details</li>
                <li>You are accessing Our Website from within the Republic of Kenya;</li>
            </ol>
            <p>Where a User Account is terminated due to a breach of these Terms and Conditions, We reserve the right to
                set off any amounts incurred as direct or indirect loss and/or expense by Us investigating the alleged
                breach prior to returning any Balance back to the User.</p>
            <h3>HOW TO BID</h3>
            <ol>
                <li>To place a Bid on Our Website or otherwise, You must first make payment of Ksh20 via mobile money.
                </li>
                <li>We reserve the right to cancel or remove a User’s Bids at Our sole discretion if We believe that the
                    User has acted fraudulently or is in breach of these Terms and Conditions.</li>
                <li>All Bids are final and no refunds will be issued for Bid Prices paid by You unless the Auction is
                    terminated by Us. Your statutory rights are not affected by this term.</li>
            </ol>
        </div>
        <div class="footer_lb">
            <div class="container">
                <div class="row">
                    <h3>You can be a winner too.<span>Win Big!</span></h3><a class="primary_btn" href="/">Start
                        Bidding</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
