{% load staticfiles %}
{% load humanize %}
<!DOCTYPE html>

<html class="wide wow-animation" lang="en">
  <head>
    {% block styles %}

    <title>Place bids on products for only KES 20 with quickbid.co.ke </title>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="{% static "js/JNM.js" %}"></script>
    <link rel="icon" href="{% static "images/icon.ico" %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static "dist/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "dist/css/fonts.css" %}">
    <link rel="stylesheet" href="{% static "dist/css/style.css" %}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@9.15.2/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.15.2/dist/sweetalert2.all.min.js"></script>
   
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
    <style>
      body {
    font-family: Roboto, Ubuntu, Arial, sans-serif;
    font-size: 100%;
}
    </style>

<style>
  .orange{
    color:#F29100
  }
  .blue{
    color: #002698;
  }
  .bg-blue{
   background-color: #095BDA;
  }
  .blacker{
    color: #6b7280;
  }
  .facebook-blue{
    color: #3b5998;
  }

</style>
{% endblock %}
{% block extra_style %}
    
{% endblock %}
  </head>
  {% block body %}
  <body>
    
    <div class="preloader"><div class="ie-panel"><a href="https://windows.microsoft.com/en-US/internet-explorer/"><img src="static/images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
    </div>
    {% block page %}
    <div class="page">
      {% block header %}
      <header class="section page-header">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="0px" data-xl-stick-up-offset="0px" data-xxl-stick-up-offset="0px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!--RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!--RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!--RD Navbar Brand-->
                  <div class="rd-navbar-brand">
                    <!--Brand--><a class="brand" href="/"><img src="{% static "images/Quickbid-Clear.svg" %}" alt="" width="329" height="57"/></a>
                  </div>
                </div>
                <div class="rd-navbar-main-element align-content-lg-center" style="margin-right: 40%;">
                  <div class="rd-navbar-nav-wrap">
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/">Home</a>
                      </li>
                      
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/faqs">FAQs</a>
                      </li>
                      
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/terms">T&Cs</a>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      {% endblock %}

      {% block content %}

       
      {% endblock %}
    
      {% block footer %}
      <footer class="footer novi-bg novi-bg-img">
        
        
        <div class="footer-panel">
          <div class="container text-center">
            
            <p class="rights"><a href="#">QUICKBID IS A PRODUCT OF RHEMAT AUCTIONEERS - LICENSE NUMBER 005951.</a>
            </p>
            
            <p class="rights">
              <span>&copy;&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>Quick Bid Auctions. All rights Reserved</span><span>.&nbsp;</span>

            </p>
            <p class="rights">
              Call us on <a href="tel:+254753146246">+254753146246</a>
            </p>
            <p class="rights">
              Find us on social media
            </p>
            <p class="rights">
              <span><a href="https://www.facebook.com/QuickbidKE/"><i class="fa fa-facebook-square fa-3x facebook-blue text-xl"></i></a></span> <span style="float: right; margin-right: 5%; margin-left: 2%;"></span>
            </p>
          </div>
        </div>
      </footer>
      {% endblock %}
    </div>
    {% endblock %}
    <div class="snackbars" id="form-output-global"></div>
    {% block scripts %}
    <script src="{% static "dist/js/core.min.js" %}"></script>
    <script src="{% static "dist/js/script.js" %}"></script>
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
	
	
{% endblock %}

{% block page_scripts %}

  {% endblock %}

{% endblock %}
</body>
  
</html>
