{% extends "products/products_base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block content %}
<section class="section section-lg bg-gray-100">
  <div class="container">
  <h2 class="" style="color: #002698;font-weight: bold;">Terms and <span style="color:#F29100;font-weight: bolder;">Conditions</span></h2>
 <div class="" style="margin-top: 10px;">
  <h5 class="title">DEFINITIONS OF TERMS</h5>
  
  <div style="margin-left:8px;">
  <p class="text-black">1. AUCTION</p>
  <p style="margin-left: 10px;">
      The lowest unique bid format used by QuickBid in order to determine the winning bid.
 </p>
 <p class="text-black">2. BID</p>
 <p style="margin-left: 10px;">An amount in Kenya Shillings that a Bidder has entered or intends to enter into the Auction for a specific Item.</p>
 <p class="text-black">3. BID ENTRY FEE</p>
 <p style="margin-left: 10px;">
    The amount in Kenya Shillings (Ksh) sent via Mpesa in order to place a Bid.
 </p>


 <p class="text-black">4. BIDDER</p>
 <p style="margin-left: 10px;">
    The User of the service that has placed or intends to place a Bid.
 </p>
 <p class="text-black">5. ITEM</p>
 <p style="margin-left: 10px;">
    The product(s) or other worthy inventory that is the focus of a specific Auction.
 </p>
 <p class="text-black">6. NON-UNIQUE BID</p>
 <p style="margin-left: 10px;">
    A Bid that has been placed on a specific Auction by a Bidder where at least one other Bidder has also placed an identical Bid on the same Auction.
 </p>

 <p class="text-black">7. RRP (Recommended Retail Price)</p>
 <p style="margin-left: 10px;">
    The manufacturer’s recommended retail price for a specific Item within Our Auctions.
 </p>

 <p class="text-black"> 8. UNIQUE BID</p>
 <p style="margin-left: 10px;">
    A Bid that has been placed on a specific Auction by a Bidder where no other Bidder has placed an identical Bid on the same Auction.
 </p>
</div>

<h5 class="title" style="margin-top:10px;">ELIGIBILITY TO PARTICIPATE WITH QUICKBID</h5>
<div style="margin-left: 8px;">
    <p class="text-black">• By using Our Website you confirm that:</p>
    <p style="margin-left: 10px;">
        i) You are legally capable of entering into binding legal contracts;

    </p>
    <p style="margin-left: 10px;">
        ii) You are at least 18 years old. You may be required to provide proof of Your age at such time as You Win an Auction on Our Website or at any other time as we deem necessary;

    </p>
    <p style="margin-left: 10px;">
        iii) You are able to make payments to Us using your Mpesa Account;

    </p>

    <p style="margin-left: 10px;">
        iv) You are a resident of the Republic of Kenya;

    </p>

    <p style="margin-left: 10px;">
        v) You are accessing Our Website from within the Republic of Kenya;

    </p>
    <p class="text-black">• You are participating as an individual only and not as part of a commercial or reseller organization;</p>
    <p class="text-black">• Only one User Account is permitted per person and per telephone number. At the time of a User Winning an Auction, or at any other time that We deem necessary, We may contact the User by the registered telephone number affiliated to the mobile money account. We will only dispatch the Item(s) that have been Won as and when We are satisfied that the registered telephone number belongs to the registered User. We may ask that the User confirms certain Account details over the telephone in order to confirm this.</p>
    <p class="text-black">• We reserve the right to terminate any User at Our sole discretion. In general, We will only take these actions if, in Our reasonable opinion, a User has:</p>
    <p style="margin-left: 10px;">
        i) violated any laws or the rights of third parties;
    </p>
    <p style="margin-left: 10px;">
       
        ii) failed to honor payments due to Us;

    </p>
    <p style="margin-left: 10px;">
       
        iii) used false or misleading information during registration or amendment of their details
    </p>
    <p style="margin-left: 10px;">
       v) You are accessing Our Website from within the Republic of Kenya;
                
    </p>
    <p class="text-black">
        Where a User Account is terminated due to a breach of these Terms and Conditions, We reserve the right to set off any amounts incurred as direct or indirect loss and/or expense by Us investigating the alleged breach prior to returning any Balance back to the User.
    </p>

</div>
<h5 class="title" style="margin-top:10px;">HOW TO BID</h5>
<div style="margin-left: 8px;">
    <p class="text-black">
        1) To place a Bid on Our Website or otherwise, You must first make payment of Ksh20 via mobile money.
        
    
    </p>
    <p class="text-black">
        
        2) We reserve the right to cancel or remove a User’s Bids at Our sole discretion if We believe that the User has acted fraudulently or is in breach of these Terms and Conditions.
        
    
    </p>
    <p class="text-black">
        
        3) All Bids are final and no refunds will be issued for Bid Prices paid by You unless the Auction is terminated by Us. Your statutory rights are not affected by this term.
    </p>

</div>



 </div>
</div>
</section>

{% endblock %}


