{% extends "admin_portal/admin_portal_base1.html" %}
{% load staticfiles %}
{% block extra_style %}
<!-- DataTables -->
<!-- DataTables -->
<link rel="stylesheet" href="{% static "plugins/datatables-bs4/css/dataTables.bootstrap4.css" %}">
<link rel="stylesheet" href="{% static "plugins/datatables-responsive/css/responsive.bootstrap4.min.css" %}">
<link rel="stylesheet" href="{% static "plugins/datetimepicker/datetimepicker.min.css" %}">

<!-- jQuery -->
<script src=""{% static "plugins/jquery/jquery.min.js" %}"></script>
<!-- jQuery UI 1.11.4 -->
<script src=""{% static "plugins/jquery-ui/jquery-ui.min.js" %}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.4.0/css/buttons.dataTables.min.css

">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
<link href="https://www.jqueryscript.net/css/jquerysctipttop.css?0925" rel="stylesheet" type="text/css">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/flatly/bootstrap.min.css"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static "plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" %}">






<style>
    #chartdiv {
      width: 100%;
      height: 500px;
    }

    #chartdiv2 {
      width: 100%;
      height: 500px;
    }
    #chartdiv3 {
      width: 100%;
      height: 500px;
    }
    #chartdiv4 {
      width: 100%;
      height: 500px;
    }
    </style>
{% endblock %}

{% block page-nav %}
  <!-- <li class="breadcrumb-item"><a href="/admin/dashboard/">home</a></li> -->
  
  {% endblock %}

{% block content %}
<!--col -->
<div class="tabs-animation col-md-12">
	<div class="row">
		<div class="col-sm-12 col-md-6 col-xl-3">
			<div class="card mb-3 widget-chart">
				<div class="widget-chart-content">
					<div class="icon-wrapper rounded">
						<div class="icon-wrapper-bg bg-success"></div>
						<i class="lnr-sort-amount-asc text-sucess"></i></div>
					<div class="widget-numbers text-success">
						<span id="total_deposits"></span>
					</div>
					<div class="widget-subheading fsize-1 pt-2 opacity-10 text-success font-weight-bold">Total Deposits</div>
					
				</div>
				<div class="widget-chart-wrapper">
					<div id="dashboard-sparklines-simple-1"></div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-xl-3">
			<div class="card mb-3 widget-chart">
				<div class="widget-chart-content">
					<div class="icon-wrapper rounded">
						<div class="icon-wrapper-bg bg-info"></div>
						<i class="lnr-sort-amount-asc text-info"></i>
					</div>
					<div class="widget-numbers text-info"><span id="today_deposits"></span></div>
					<div class="widget-subheading fsize-1 pt-2 opacity-10 text-info font-weight-bold">
						Today Deposits
					</div>
					
				</div>
				<div class="widget-chart-wrapper">
					<div id="dashboard-sparklines-simple-2"></div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-12 col-xl-3">
			<div class="card mb-3 widget-chart">
				<div class="widget-chart-content">
					<div class="icon-wrapper rounded">
						<div class="icon-wrapper-bg bg-info"></div>
						<i class="fas fa-gavel text-info"></i></div>
					<div class="widget-numbers text-danger"><span id="total_bids"></span></div>
					<div class="widget-subheading fsize-1 pt-2 opacity-10 text-info font-weight-bold">Total Bids</div>
					
				</div>
				<div class="widget-chart-wrapper">
					<div id="dashboard-sparklines-simple-3"></div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-12 col-xl-3">
			<div class="card mb-3 widget-chart">
				<div class="widget-chart-content">
					<div class="icon-wrapper rounded">
						<div class="icon-wrapper-bg bg-info"></div>
						<i class="fas fa-gavel text-info"></i></div>
					<div class="widget-numbers text-danger"><span id="today_bids"></span></div>
					<div class="widget-subheading fsize-1 pt-2 opacity-10 text-info font-weight-bold">Today Bids</div>
					
				</div>
				<div class="widget-chart-wrapper">
					<div id="dashboard-sparklines-simple-3"></div>
				</div>
			</div>
		</div>
	</div>
</div>
	
	
	

<div class="tabs-animation col-md-12">
	<div class="mb-3 card">
		<div class="card-header-tab card-header">
			<div class="card-header-title font-size-md font-weight-normal">
				<i class="header-icon fa fa-clock icon-gradient bg-happy-green"> </i>
				Filter by date and time - Showing Results for Today
			</div>
			<div class="btn-actions-pane-right text-capitalize">
				<button id='filter_btn' type="button" class="btn btn-block btn-outline-success btn-xs"><i class="fa fa-filter"> Click to Filter</i></button>
			</div>
		</div>
		<div class="row" style="margin-top: 2%;padding-left: 20px;display: none;" id="filter_div">
			<div class='col-sm-6 col-lg-5 col-md-4'>
				FROM: <input type='text' class="form-control" id='from_date' />
			</div>
			<div class='col-sm-6 col-lg-5 col-md-4'>
				TO: <input type='text' class="form-control" id='to_date' style="padding-right: 20px;" />
				
			</div>
			<div class='col-sm-2 col-lg-2 col-md-2' style="float:right;">
				<br>
				<button id='filter_stats' type="button" class="btn btn-success btn-lg">GO</button>
		
				</div>
			
			
	
		</div>
		<div class="no-gutters row">
			<div class="col-sm-6 col-md-4 col-xl-4">
				<div class="card no-shadow rm-border bg-transparent widget-chart text-left">
					<div class="icon-wrapper rounded-circle">
						<div class="icon-wrapper-bg opacity-10 bg-success"></div>
						<i class="lnr-sort-amount-asc text-dark opacity-8"></i></div>
					<div class="widget-chart-content">
						<div class="widget-subheading">Deposits</div>
						<div class="widget-numbers" id="deposits_filter"></div>
						
					</div>
				</div>
				<div class="divider m-0 d-md-none d-sm-block"></div>
			</div>
			<div class="col-sm-6 col-md-4 col-xl-4">
				<div class="card no-shadow rm-border bg-transparent widget-chart text-left">
					<div class="icon-wrapper rounded-circle">
						<div class="icon-wrapper-bg opacity-9 bg-danger"></div>
						<i class="fa fa-gavel text-white"></i></div>
					<div class="widget-chart-content">
						<div class="widget-subheading">Bids</div>
						<div class="widget-numbers"><span id="bids_filter"></span></div>
						
					</div>
				</div>
				<div class="divider m-0 d-md-none d-sm-block"></div>
			</div>
			<div class="col-sm-12 col-md-4 col-xl-4">
				<div class="card no-shadow rm-border bg-transparent widget-chart text-left">
					<div class="icon-wrapper rounded-circle">
						<div class="icon-wrapper-bg opacity-9 bg-success"></div>
						<i class="lnr-users text-white"></i></div>
					<div class="widget-chart-content">
						<div class="widget-subheading">New Users</div>
						<div class="widget-numbers text-success"><span id="users_filter"></span></div>
						
					</div>
				</div>
			</div>
		</div>
		
	</div>
	</div>
	
	<div class="col-lg-6" id="graphs">
		
		<div class="card">
		  <div class="card-header border-0">
			<div class="d-flex justify-content-between">
			  <h5 class="card-title text-sm">Deposits per day of a Month</h5>
			  
			</div>
		  </div>
		  <div class="card-body">
		
			  <div class="position-relative mb-4">
				<div id="chartdiv"></div>
			  </div>
			
		  </div>
		</div>
		<!-- /.card -->
	
		<div class="card">
			<div class="card-header border-0">
				<div class="d-flex justify-content-between">
					<h5 class="card-title text-sm">Deposits per an hour of a day (Dummy data)</h5>
					
				  </div>
			</div>
			<div class="card-body">
			  
	  
			  <div class="position-relative mb-4">
				<div id="chartdiv3"></div>
			  </div>
	  
			</div>
		  </div>
		  <!-- /.card -->
		
	  </div>
	  <!-- /.col-md-6 -->
	  <div class="col-lg-6" >
		<div class="card">
		  <div class="card-header border-0">
			<div class="d-flex justify-content-between">
				<h5 class="card-title text-sm">Bids per a day of a Month</h5>
				
			  </div>
		  </div>
		  <div class="card-body">
		  
			<div class="position-relative mb-4">
			  <div id="chartdiv2"></div>
			</div>
		  </div>
		</div>
		<!-- /.card -->
	
		<div class="card">
			<div class="card-header border-0">
				<div class="d-flex justify-content-between">
					<h5 class="card-title text-sm">Bids per an hour of a day (Dummy data)</h5>
					
				  </div>
			</div>
			<div class="card-body" id="graphs1"">
			  
	  
			  <div class="position-relative mb-4">
				<div id="chartdiv4"></div>
			  </div>
			</div>
		  </div>
		  <!-- /.card -->
		  </div>
		  </div>
	  <!-- /.col-md-6 -->
	

	
	

    
{% endblock %}


{% block jslinks %}
<!-- DataTables -->

<script src="{% static "plugins/datatables/jquery.dataTables.js" %}"></script>
<script src="{% static "plugins/datatables-bs4/js/dataTables.bootstrap4.js" %}"></script>
<script src="{% static "plugins/datatables-responsive/js/dataTables.responsive.min.js" %}"></script>
<script src="{% static "plugins/datatables-responsive/js/responsive.bootstrap4.min.js" %}"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script> -->
<!-- Resources -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js" type="text/javascript"></script>
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/dataviz.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

<script src="{% static "plugins/datetimepicker/bootstrap-datetimepicker.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>







{% endblock %}
{% block pagescripts%}

  <!-- Chart code -->
  <script type="text/javascript">
	am4core.ready(function() {
	
	// Themes begin
	am4core.useTheme(am4themes_dataviz);
	am4core.useTheme(am4themes_animated);
	// Themes end
	
	// Create chart instance
	var chart = am4core.create("chartdiv", am4charts.XYChart);
	
	
	// Enable chart cursor
	chart.cursor = new am4charts.XYCursor();
	chart.cursor.lineX.disabled = true;
	chart.cursor.lineY.disabled = true;
	
	// Enable scrollbar
	chart.scrollbarX = new am4core.Scrollbar();
	var monthly_deposits_data = {{monthly_deposits_data|safe}};
	// var last = monthly_bids_data.slice(-1).pop();
	// var first = monthly_bids_data.slice(0).pop();
	// Add data
	chart.data = monthly_deposits_data;
	
	// Create axes
	var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
	dateAxis.dataFields.category = "Date";
	dateAxis.renderer.grid.template.location = 0.5;
	dateAxis.dateFormatter.inputDateFormat = "yyyy-MM-dd";
	dateAxis.renderer.minGridDistance = 40;
	dateAxis.tooltipDateFormat = "MMM dd, yyyy";
	dateAxis.dateFormats.setKey("day", "dd");
	
	var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
	
	// Create series
	var series = chart.series.push(new am4charts.LineSeries());
	series.tooltipText = "{date}\n[bold font-size: 17px]value: {valueY}[/]";
	series.dataFields.valueY = "value";
	series.dataFields.dateX = "date";
	series.strokeDasharray = 3;
	series.strokeWidth = 2
	series.strokeOpacity = 0.3;
	series.strokeDasharray = "3,3"
	
	var bullet = series.bullets.push(new am4charts.CircleBullet());
	bullet.strokeWidth = 2;
	bullet.stroke = am4core.color("#fff");
	bullet.setStateOnChildren = true;
	bullet.propertyFields.fillOpacity = "opacity";
	bullet.propertyFields.strokeOpacity = "opacity";
	
	var hoverState = bullet.states.create("hover");
	hoverState.properties.scale = 1.7;
	
	// function createTrendLine(data) {
	//   var trend = chart.series.push(new am4charts.LineSeries());
	//   trend.dataFields.valueY = "value";
	//   trend.dataFields.dateX = "date";
	//   trend.strokeWidth = 2
	//   trend.stroke = trend.fill = am4core.color("#c00");
	//   trend.data = data;
	
	//   var bullet = trend.bullets.push(new am4charts.CircleBullet());
	//   bullet.tooltipText = "{date}\n[bold font-size: 17px]value: {valueY}[/]";
	//   bullet.strokeWidth = 2;
	//   bullet.stroke = am4core.color("#fff")
	//   bullet.circle.fill = trend.stroke;
	
	//   var hoverState = bullet.states.create("hover");
	//   hoverState.properties.scale = 1.7;
	
	//   return trend;
	// };
	
	// createTrendLine([
	//   { "date": "2012-01-02", "value": 10 },
	//   { "date": "2012-01-11", "value": 19 }
	// ]);
	
	// var lastTrend = createTrendLine([
	//   { "date": "2012-01-17", "value": 16 },
	//   { "date": "2012-01-22", "value": 10 }
	// ]);
	
	// // Initial zoom once chart is ready
	// lastTrend.events.once("datavalidated", function(){
	//   series.xAxis.zoomToDates(new Date(2012, 0, 2), new Date(2012, 0, 13));
	// });
	
	}); // end am4core.ready()
	</script>
	
	
	 <!-- Chart  2 code -->
	 <script>
		am4core.ready(function() {
		
		// Themes begin
		am4core.useTheme(am4themes_animated);
		// Themes end
		
		// Create chart instance
		var chart2 = am4core.create("chartdiv2", am4charts.XYChart);
		
		
		// Enable chart cursor
		chart2.cursor = new am4charts.XYCursor();
		chart2.cursor.lineX.disabled = true;
		chart2.cursor.lineY.disabled = true;
		
		// Enable scrollbar
		chart2.scrollbarX = new am4core.Scrollbar();

		var monthly_bids_data = {{monthly_bids_data|safe}};
		
		// Add data
		chart2.data = monthly_bids_data;
		// Create axes
		var dateAxis = chart2.xAxes.push(new am4charts.DateAxis());
		dateAxis.dataFields.category = "Date";
		dateAxis.renderer.grid.template.location = 0.5;
		dateAxis.dateFormatter.inputDateFormat = "yyyy-MM-dd";
		dateAxis.renderer.minGridDistance = 40;
		dateAxis.tooltipDateFormat = "MMM dd, yyyy";
		dateAxis.dateFormats.setKey("day", "dd");
		
		var valueAxis = chart2.yAxes.push(new am4charts.ValueAxis());
		
		// Create series
		var series = chart2.series.push(new am4charts.LineSeries());
		series.tooltipText = "{date}\n[bold font-size: 17px]value: {valueY}[/]";
		series.dataFields.valueY = "value";
		series.dataFields.dateX = "date";
		series.strokeDasharray = 3;
		series.strokeWidth = 2
		series.strokeOpacity = 0.3;
		series.strokeDasharray = "3,3"
		
		var bullet = series.bullets.push(new am4charts.CircleBullet());
		bullet.strokeWidth = 2;
		bullet.stroke = am4core.color("#fff");
		bullet.setStateOnChildren = true;
		bullet.propertyFields.fillOpacity = "opacity";
		bullet.propertyFields.strokeOpacity = "opacity";
		
		var hoverState = bullet.states.create("hover");
		hoverState.properties.scale = 1.7;
		
		// function createTrendLine(data) {
		//   var trend = chart2.series.push(new am4charts.LineSeries());
		//   trend.dataFields.valueY = "value";
		//   trend.dataFields.dateX = "date";
		//   trend.strokeWidth = 2
		//   trend.stroke = trend.fill = am4core.color("#c00");
		//   trend.data = data;
		
		//   var bullet = trend.bullets.push(new am4charts.CircleBullet());
		//   bullet.tooltipText = "{date}\n[bold font-size: 17px]value: {valueY}[/]";
		//   bullet.strokeWidth = 2;
		//   bullet.stroke = am4core.color("#fff")
		//   bullet.circle.fill = trend.stroke;
		
		//   var hoverState = bullet.states.create("hover");
		//   hoverState.properties.scale = 1.7;
		
		//   return trend;
		// };
		
		// createTrendLine([
		//   { "date": "2012-01-02", "value": 10 },
		//   { "date": "2012-01-11", "value": 19 }
		// ]);
		
		// var lastTrend = createTrendLine([
		//   { "date": "2012-01-17", "value": 16 },
		//   { "date": "2012-01-22", "value": 10 }
		// ]);
		
		// // Initial zoom once chart is ready
		// lastTrend.events.once("datavalidated", function(){
		//   series.xAxis.zoomToDates(new Date(2012, 0, 2), new Date(2012, 0, 13));
		// });
		
		}); // end am4core.ready()
		</script>
	
		<!-- Chart code -->
	<!-- Chart code -->
	<script>
		am4core.ready(function() {
		
		// Themes begin
		am4core.useTheme(am4themes_dataviz);
		am4core.useTheme(am4themes_animated);
		// Themes end
		
		var chart3 = am4core.create("chartdiv3", am4charts.XYChart);
		chart3.hiddenState.properties.opacity = 0; // this creates initial fade-in
		
		chart3.data = [
		  {
			country: "Mon",
			visits: 1921
		  },
		  {
			country: "Tue",
			visits: 1882
		  },
		  {
			country: "Wed",
			visits: 1809
		  },
		  {
			country: "Thur",
			visits: 1322
		  },
		  {
			country: "Fri",
			visits: 1122
		  },
		  {
			country: "Sat",
			visits: 1114
		  },
		  {
			country: "Sun",
			visits: 1150
		  }
		];
		
		var categoryAxis = chart3.xAxes.push(new am4charts.CategoryAxis());
		categoryAxis.renderer.grid.template.location = 0;
		categoryAxis.dataFields.category = "country";
		categoryAxis.renderer.minGridDistance = 40;
		categoryAxis.fontSize = 11;
		
		var valueAxis = chart3.yAxes.push(new am4charts.ValueAxis());
		valueAxis.min = 0;
		valueAxis.max = 24000;
		valueAxis.strictMinMax = true;
		valueAxis.renderer.minGridDistance = 30;
		// axis break
		var axisBreak = valueAxis.axisBreaks.create();
		axisBreak.startValue = 2100;
		axisBreak.endValue = 22900;
		//axisBreak.breakSize = 0.005;
		
		// fixed axis break
		var d = (axisBreak.endValue - axisBreak.startValue) / (valueAxis.max - valueAxis.min);
		axisBreak.breakSize = 0.05 * (1 - d) / d; // 0.05 means that the break will take 5% of the total value axis height
		
		// make break expand on hover
		var hoverState = axisBreak.states.create("hover");
		hoverState.properties.breakSize = 1;
		hoverState.properties.opacity = 0.1;
		hoverState.transitionDuration = 1500;
		
		axisBreak.defaultState.transitionDuration = 1000;
		/*
		// this is exactly the same, but with events
		axisBreak.events.on("over", function() {
		  axisBreak.animate(
			[{ property: "breakSize", to: 1 }, { property: "opacity", to: 0.1 }],
			1500,
			am4core.ease.sinOut
		  );
		});
		axisBreak.events.on("out", function() {
		  axisBreak.animate(
			[{ property: "breakSize", to: 0.005 }, { property: "opacity", to: 1 }],
			1000,
			am4core.ease.quadOut
		  );
		});*/
		
		var series = chart3.series.push(new am4charts.ColumnSeries());
		series.dataFields.categoryX = "country";
		series.dataFields.valueY = "visits";
		series.columns.template.tooltipText = "{valueY.value}";
		series.columns.template.tooltipY = 0;
		series.columns.template.strokeOpacity = 0;
		
		// as by default columns of the same series are of the same color, we add adapter which takes colors from chart.colors color set
		series.columns.template.adapter.add("fill", function(fill, target) {
		  return chart3.colors.getIndex(target.dataItem.index);
		});
		
		}); // end am4core.ready()
		</script>
		
		<!-- Chart code -->
	<script>
		am4core.ready(function() {
		
		// Themes begin
		am4core.useTheme(am4themes_dataviz);
		am4core.useTheme(am4themes_animated);
		// Themes end
		
		var chart4 = am4core.create("chartdiv4", am4charts.XYChart);
		chart4.hiddenState.properties.opacity = 0; // this creates initial fade-in
		
		chart4.data = [
		  {
			country: "Mon",
			visits: 23725
		  },
		  {
			country: "Tue",
			visits: 1882
		  },
		  {
			country: "Wed",
			visits: 1809
		  },
		  {
			country: "Thur",
			visits: 1322
		  },
		  {
			country: "Fri",
			visits: 1122
		  },
		  {
			country: "Sat",
			visits: 1114
		  },
		  {
			country: "Sun",
			visits: 1150
		  }
		];
		
		var categoryAxis = chart4.xAxes.push(new am4charts.CategoryAxis());
		categoryAxis.renderer.grid.template.location = 0;
		categoryAxis.dataFields.category = "country";
		categoryAxis.renderer.minGridDistance = 40;
		categoryAxis.fontSize = 11;
		
		var valueAxis = chart4.yAxes.push(new am4charts.ValueAxis());
		valueAxis.min = 0;
		valueAxis.max = 24000;
		valueAxis.strictMinMax = true;
		valueAxis.renderer.minGridDistance = 30;
		// axis break
		var axisBreak = valueAxis.axisBreaks.create();
		axisBreak.startValue = 2100;
		axisBreak.endValue = 22900;
		//axisBreak.breakSize = 0.005;
		
		// fixed axis break
		var d = (axisBreak.endValue - axisBreak.startValue) / (valueAxis.max - valueAxis.min);
		axisBreak.breakSize = 0.05 * (1 - d) / d; // 0.05 means that the break will take 5% of the total value axis height
		
		// make break expand on hover
		var hoverState = axisBreak.states.create("hover");
		hoverState.properties.breakSize = 1;
		hoverState.properties.opacity = 0.1;
		hoverState.transitionDuration = 1500;
		
		axisBreak.defaultState.transitionDuration = 1000;
		/*
		// this is exactly the same, but with events
		axisBreak.events.on("over", function() {
		  axisBreak.animate(
			[{ property: "breakSize", to: 1 }, { property: "opacity", to: 0.1 }],
			1500,
			am4core.ease.sinOut
		  );
		});
		axisBreak.events.on("out", function() {
		  axisBreak.animate(
			[{ property: "breakSize", to: 0.005 }, { property: "opacity", to: 1 }],
			1000,
			am4core.ease.quadOut
		  );
		});*/
		
		var series = chart4.series.push(new am4charts.ColumnSeries());
		series.dataFields.categoryX = "country";
		series.dataFields.valueY = "visits";
		series.columns.template.tooltipText = "{valueY.value}";
		series.columns.template.tooltipY = 0;
		series.columns.template.strokeOpacity = 0;
		
		// as by default columns of the same series are of the same color, we add adapter which takes colors from chart.colors color set
		series.columns.template.adapter.add("fill", function(fill, target) {
		  return chart4.colors.getIndex(target.dataItem.index);
		});
		
		}); // end am4core.ready()
		</script>

<script type="text/javascript">
	(function worker() {
	  $.ajax({
		url: '/totals/',
		success: function (data) {
  
		  $('#total_deposits').html(Number(data.total_deposits).toLocaleString());
		  $('#today_deposits').html(Number(data.today_deposits).toLocaleString());
		  $('#total_bids').html(Number(data.total_bids).toLocaleString());
		  $('#today_bids').html(Number(data.today_bids).toLocaleString());
		  
  
		},
		complete: function () {
		  // Schedule the next request when the current one's complete
		  setTimeout(worker, 3000);
		}
	  });
	})();
  </script>

<script>
	$('#filter_stats').click(function(){

	var from_date = $('#from_date').val();
	var to_date = $('#to_date').val();
	console.log(from_date+ ' ' + to_date);
	$.ajax({
          type: 'POST',
          url: "/filters/",
          data: {"from_date":from_date,"to_date":to_date},
          success: function (response) {
              
              {
				$('#deposits_filter').html(Number(response.deposits_filter).toLocaleString());
				$('#bids_filter').html(Number(response.bids_filter).toLocaleString());
				$('#users_filter').html(Number(response.users_filter).toLocaleString());
              
              }
		  }
              
      })

		
	});


</script>

<script type="text/javascript">
	$(function () {
		$('#from_date').datetimepicker(
			{
            format: 'YYYY-MM-DD HH:mm'
        }
		);
		
	}).on('changeDate', function(ev){
		{
            format: 'YYYY-MM-DD HH:mm'
        }

	});
</script>  
<script type="text/javascript">
	$(function () {
		$('#to_date').datetimepicker(
			{
            format: 'YYYY-MM-DD HH:mm'
        }
		);
		
	}).on('changeDate', function(ev){
		{
            format: 'YYYY-MM-DD HH:mm'
        }

	});
</script>  

<script>
	$('#filter_btn').click(function(){
		$('#filter_div').toggle();
	});

</script>

  
{% endblock %}